In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from sqlalchemy import text

In [2]:
url = "C:\\Users\\lucas\\Downloads\\datatran2024\\datatran2024.csv"

df = pd.read_csv(url, sep=';', encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73156 entries, 0 to 73155
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      73156 non-null  float64
 1   data_inversa            73156 non-null  object
 2   dia_semana              73156 non-null  object
 3   horario                 73156 non-null  object
 4   uf                      73156 non-null  object
 5   br                      73156 non-null  int64
 6   km                      73156 non-null  object
 7   municipio               73156 non-null  object
 8   causa_acidente          73156 non-null  object
 9   tipo_acidente           73156 non-null  object
 10  classificacao_acidente  73155 non-null  object
 11  fase_dia                73156 non-null  object
 12  sentido_via             73156 non-null  object
 13  condicao_metereologica  73156 non-null  object
 14  tipo_pista              73156 non-null  object
 15  tracado_via             73156 non-null  object
 16  uso_solo                73156 non-null  object
 17  pessoas                 73156 non-null  int64
 18  mortos                  73156 non-null  int64
 19  feridos_leves           73156 non-null  int64
 20  feridos_graves          73156 non-null  int64
 21  ilesos                  73156 non-null  int64
 22  ignorados               73156 non-null  int64
 23  feridos                 73156 non-null  int64
 24  veiculos                73156 non-null  int64
 25  latitude                73156 non-null  float64
 26  longitude               73156 non-null  float64
 27  regional                73153 non-null  object
 28  delegacia               73120 non-null  object
 29  uop                     73044 non-null  object
dtypes: float64(3), int64(9), object(18)
memory usage: 16.7+ MB

In [4]:
df['data_inversa'] = pd.to_datetime(df['data_inversa'], format='%Y-%m-%d')

In [5]:
df['km'] = df['km'].str.replace('.', '', regex=False)
df['km'] = df['km'].str.replace(',', '.', regex=False)
df['km'] = df['km'].astype(float)

In [6]:
df['uso_solo'] = df['uso_solo'].str.strip().str.lower().map({
    'Sim' : True,
    'NÃ£o' : False
})

In [7]:
df["uso_solo"].dtype

dtype('O')

In [8]:
df['uso_solo'] = df['uso_solo'].astype('bool')

In [9]:
df["uso_solo"].dtype

dtype('bool')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73156 entries, 0 to 73155
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      73156 non-null  float64
 1   data_inversa            73156 non-null  datetime64[ns]
 2   dia_semana              73156 non-null  object
 3   horario                 73156 non-null  object
 4   uf                      73156 non-null  object
 5   br                      73156 non-null  int64
 6   km                      73156 non-null  float64
 7   municipio               73156 non-null  object
 8   causa_acidente          73156 non-null  object
 9   tipo_acidente           73156 non-null  object
 10  classificacao_acidente  73155 non-null  object
 11  fase_dia                73156 non-null  object
 12  sentido_via             73156 non-null  object
 13  condicao_metereologica  73156 non-null  object
 14  tipo_pista              73156 non-null  object
 15  tracado_via             73156 non-null  object
 16  uso_solo                73156 non-null  bool
 17  pessoas                 73156 non-null  int64
 18  mortos                  73156 non-null  int64
 19  feridos_leves           73156 non-null  int64
 20  feridos_graves          73156 non-null  int64
 21  ilesos                  73156 non-null  int64
 22  ignorados               73156 non-null  int64
 23  feridos                 73156 non-null  int64
 24  veiculos                73156 non-null  int64
 25  latitude                73156 non-null  float64
 26  longitude               73156 non-null  float64
 27  regional                73153 non-null  object
 28  delegacia               73120 non-null  object
 29  uop                     73044 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(9), object(15)
memory usage: 16.3+ MB

In [11]:
df['latitude'] = df['latitude'].replace(',', '.', regex=False)
df['longitude'] = df['longitude'].replace(',', '.', regex=False)

df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

In [12]:
df[['latitude', 'longitude']].dtypes

latitude     float64
longitude    float64
dtype: object

In [13]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip()

In [14]:
print(df.isnull().sum())

id                        0
data_inversa              0
dia_semana                0
horario                   0
uf                        0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
latitude                  0
longitude                 0
regional                  0
delegacia                 0
uop                       0
dtype: int64

In [15]:
if df['id'].duplicated().any():
    print('ATENÃÃO: IDs duplicados encontrados!')
else:
    print('ATENÃÃO: IDs duplicados nÃ£o encontrados!')

ATENÃÃO: IDs duplicados nÃ£o encontrados!

In [16]:
# -------------------------------------------------------------
# CONFIGURAÃÃO DA CONEXÃO COM O POSTGRESQL
# -------------------------------------------------------------
# Formato da string de conexÃ£o: 
# postgresql://usuario:senha@endereco:porta/nome_do_banco
# Substitua pelos dados do seu ambiente:
usuario = "postgres"
senha = "postgres"
host = "localhost"
porta = "5432"
banco = "dbs_ontl"

# Cria o motor de conexÃ£o
engine = create_engine(f'postgresql://{usuario}:{senha}@{host}:{porta}/{banco}')

In [17]:
with engine.connect() as conn:
    with conn.begin():             #Cria a conexÃ£o de forma segura, garantindo que nÃ£o vamos perder algo por conta de qualquer erro
        conn.execute(text("""
            DELETE FROM raw.datatran2025
            WHERE EXTRACT(YEAR FROM data_inversa) = 2024
"""))      #Deleta os dados antigos apenas dos anos de 2025

In [18]:
df.to_sql(
    'datatran2025',    # Nome da tabela SEM o schema
    schema='raw',                     # Schema do banco
    con=engine,                       # ConexÃ£o
    if_exists='append',               # Adiciona os dados (nÃ£o sobrescreve)
    index=False                       # NÃ£o carrega o Ã­ndice do DataFrame como coluna
)

156