# PREPARANDO O AMBIENTE

In [29]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\lucas\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [30]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\lucas\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [31]:
pip install numpy

Requirement already satisfied: numpy in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\lucas\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [32]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\lucas\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\lucas\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [33]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from sqlalchemy import text

# CONFIGURANDO A CONEXÃO COM O POSTGRESQL

## CRIANDO A ENGINE DE CONEXÃO

In [34]:
# postgresql://usuario:senha@endereco:porta/nome_do_banco

usuario = "postgres"
senha = "postgres"
host = "localhost"
porta = "5432"
banco = "dbs_ontl"            # Cria a conexão com o banco de dados 

# Cria o motor de conexão
engine = create_engine(f'postgresql://{usuario}:{senha}@{host}:{porta}/{banco}')     # Cria a engine de conexão

# LEITURA DO DATAFRAME

In [35]:
url = "C:\\Users\\lucas\\Downloads\\datatran2025\\datatran2025.csv"  # Denomina o caminho do arquivo CSV como url
df = pd.read_csv(url, sep=";", encoding="latin1")  #Denomina o dataframe como df e faz a sua leitura

# ANALISANDO O DATAFRAME

In [36]:
print(df.head())  # Retorna as 5 primeiras linhas do dataframe
print(df.info())  # Retorna as principais informações do dataframe
print(df.describe(include='all'))   # Retorna um resumo estatistico de todas as colunas, incluindo as que não são do tipo int ou bool

       id data_inversa    dia_semana   horario  uf   br     km  \
0  652493   2025-01-01  quarta-feira  06:20:00  SP  116    225
1  652519   2025-01-01  quarta-feira  07:50:00  CE  116  546,2
2  652522   2025-01-01  quarta-feira  08:45:00  PR  369   88,2
3  652544   2025-01-01  quarta-feira  11:00:00  PR  116     74
4  652549   2025-01-01  quarta-feira  09:30:00  MG  251    471

               municipio                            causa_acidente  \
0              GUARULHOS  Reação tardia ou ineficiente do condutor
1              PENAFORTE                          Pista esburacada
2      CORNELIO PROCOPIO  Reação tardia ou ineficiente do condutor
3  CAMPINA GRANDE DO SUL  Reação tardia ou ineficiente do condutor
4           FRANCISCO SA                   Velocidade Incompatível

               tipo_acidente  ... feridos_graves ilesos ignorados feridos  \
0                 Tombamento  ...              0      0         1       1
1            Colisão frontal  ...              0      1         4       1
2           Colisão traseira  ...              0      2         0       3
3  Saída de leito carroçável  ...              0      4         0       1
4            Colisão frontal  ...              1      1         2       2

  veiculos      latitude     longitude  regional  delegacia             uop
0        2  -23,48586772  -46,54075317   SPRF-SP   DEL01-SP  UOP01-DEL01-SP
1        6     -7,812288  -39,08333306   SPRF-CE   DEL05-CE  UOP03-DEL05-CE
2        2    -23,182565    -50,637228   SPRF-PR   DEL07-PR  UOP05-DEL07-PR
3        2  -25,36517687  -49,04223028   SPRF-PR   DEL01-PR  UOP02-DEL01-PR
4        4  -16,46801304  -43,43121303   SPRF-MG   DEL12-MG  UOP01-DEL12-MG

[5 rows x 30 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28598 entries, 0 to 28597
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      28598 non-null  int64
 1   data_inversa            28598 non-null  object
 2   dia_semana              28598 non-null  object
 3   horario                 28598 non-null  object
 4   uf                      28598 non-null  object
 5   br                      28598 non-null  int64
 6   km                      28598 non-null  object
 7   municipio               28598 non-null  object
 8   causa_acidente          28598 non-null  object
 9   tipo_acidente           28597 non-null  object
 10  classificacao_acidente  28596 non-null  object
 11  fase_dia                28598 non-null  object
 12  sentido_via             28598 non-null  object
 13  condicao_metereologica  28598 non-null  object
 14  tipo_pista              28598 non-null  object
 15  tracado_via             28598 non-null  object
 16  uso_solo                28598 non-null  object
 17  pessoas                 28598 non-null  int64
 18  mortos                  28598 non-null  int64
 19  feridos_leves           28598 non-null  int64
 20  feridos_graves          28598 non-null  int64
 21  ilesos                  28598 non-null  int64
 22  ignorados               28598 non-null  int64
 23  feridos                 28598 non-null  int64
 24  veiculos                28598 non-null  int64
 25  latitude                28598 non-null  object
 26  longitude               28598 non-null  object
 27  regional                28598 non-null  object
 28  delegacia               28591 non-null  object
 29  uop                     28586 non-null  object
dtypes: int64(10), object(20)
memory usage: 6.5+ MB
None
                   id data_inversa dia_semana   horario     uf            br  \
count    28598.000000        28598      28598     28598  28598  28598.000000
unique            NaN          151          7      1253     27           NaN
top               NaN   2025-05-10     sábado  19:00:00     MG           NaN
freq              NaN          264       4604       423   3644           NaN
mean    672070.633191          NaN        NaN       NaN    NaN    207.917407
std      13697.933884          NaN        NaN       NaN    NaN    128.190342
min     652468.000000          NaN        NaN       NaN    NaN      0.000000
25%     660616.250000          NaN        NaN       NaN    NaN    101.000000
50%     668510.500000          NaN        NaN       NaN    NaN    153.000000
75%     687534.750000          NaN        NaN       NaN    NaN    316.000000
max     699634.000000          NaN        NaN       NaN    NaN    495.000000

           km municipio                  causa_acidente     tipo_acidente  \
count   28598     28598                           28598             28597
unique   5742      1661                              69                17
top         3  BRASILIA  Ausência de reação do condutor  Colisão traseira
freq      153       401                            4307              5635
mean      NaN       NaN                             NaN               NaN
std       NaN       NaN                             NaN               NaN
min       NaN       NaN                             NaN               NaN
25%       NaN       NaN                             NaN               NaN
50%       NaN       NaN                             NaN               NaN
75%       NaN       NaN                             NaN               NaN
max       NaN       NaN                             NaN               NaN

        ... feridos_graves        ilesos     ignorados       feridos  \
count   ...   28598.000000  28598.000000  28598.000000  28598.000000
unique  ...            NaN           NaN           NaN           NaN
top     ...            NaN           NaN           NaN           NaN
freq    ...            NaN           NaN           NaN           NaN
mean    ...       0.272746      1.051053      0.387929      1.157983
std     ...       0.598706      1.842502      0.802318      1.115623
min     ...       0.000000      0.000000      0.000000      0.000000
25%     ...       0.000000      0.000000      0.000000      1.000000
50%     ...       0.000000      1.000000      0.000000      1.000000
75%     ...       0.000000      1.000000      1.000000      1.000000
max     ...      14.000000     71.000000     18.000000     49.000000

            veiculos     latitude     longitude  regional  delegacia  \
count   28598.000000        28598         28598     28598      28591
unique           NaN        26301         26285        28        153
top              NaN  -22,7934208  -43,46276495   SPRF-MG   DEL01-PR
freq             NaN           13            12      3637       1038
mean        1.988775          NaN           NaN       NaN        NaN
std         1.084231          NaN           NaN       NaN        NaN
min         1.000000          NaN           NaN       NaN        NaN
25%         1.000000          NaN           NaN       NaN        NaN
50%         2.000000          NaN           NaN       NaN        NaN
75%         2.000000          NaN           NaN       NaN        NaN
max        31.000000          NaN           NaN       NaN        NaN

                   uop
count            28586
unique             393
top     UOP01-DEL01-SC
freq               459
mean               NaN
std                NaN
min                NaN
25%                NaN
50%                NaN
75%                NaN
max                NaN

[11 rows x 30 columns]

In [37]:
df.columns  # Retorna os nomes das colunas do dataframe. Aqui estamos conferindo de os nomes das colunas estão padronizados

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

# TRANSFORMANDO A COLUNA data_inversa EM UMA COLUNA COM DADOS DO TIPO DATE

In [38]:
df_backup = df.copy()  #Cria uma especie de backup do dataframe para começar a analise exploratoria
df['data_inversa'] = pd.to_datetime(df['data_inversa'], format="%Y-%m-%d")  #Transforma a coluna data_inversa em dados do tipo data e sinaliza o formato que a data se encontra

# TRANSFORMANDO A COLUNA uso_solo EM UMA COLUNA COM DADOS DO TIPO BOOL

In [39]:
df["uso_solo"] = df["uso_solo"].str.strip().str.lower().map({     #Tira os espaços em branco, transforma os caracteres em minusculo e substitui os sim e não por true e false
    "sim" : True,
    "não" : False
})

In [40]:
df["uso_solo"].dtype     #Confere se houve a transformação no tipo dos dados

dtype('bool')

In [41]:
print(df["km"].unique())    # Confere os dados unicos presentes na coluna
print(df["km"].head(10))    # Retorna as 10 primeiras linhas da coluna

['225' '546,2' '88,2' ... '803,9' '533,5' '297,2']
0      225
1    546,2
2     88,2
3       74
4      471
5      669
6      376
7    207,4
8    708,5
9      7,4
Name: km, dtype: object

In [42]:
df["km"] = df["km"].str.replace(".", "", regex=False)
df["km"] = df["km"].str.replace(",", ".", regex=False)         # Remove pontos de milhar e substitui a virgula por ponto, nos decimais

In [43]:
print(df["km"].unique())    
print(df["km"].head(10))

['225' '546.2' '88.2' ... '803.9' '533.5' '297.2']
0      225
1    546.2
2     88.2
3       74
4      471
5      669
6      376
7    207.4
8    708.5
9      7.4
Name: km, dtype: object

In [44]:
df["km"] = df["km"].astype(float) # Transforma os dados para o tipo float

In [45]:
print(df["latitude"].head())
print(df["longitude"].head())     # Retorna as 5 primeiras linhas das colunas latitude e longitude

0    -23,48586772
1       -7,812288
2      -23,182565
3    -25,36517687
4    -16,46801304
Name: latitude, dtype: object
0    -46,54075317
1    -39,08333306
2      -50,637228
3    -49,04223028
4    -43,43121303
Name: longitude, dtype: object

In [46]:
df["latitude"] = df["latitude"].str.strip().str.replace(",", ".")
df["longitude"] = df["longitude"].str.strip().str.replace(",", ".")       # Limpa espaços em branco e substitui as vírgulas por pontos

In [47]:
print(df["latitude"].head())
print(df["longitude"].head())

0    -23.48586772
1       -7.812288
2      -23.182565
3    -25.36517687
4    -16.46801304
Name: latitude, dtype: object
0    -46.54075317
1    -39.08333306
2      -50.637228
3    -49.04223028
4    -43.43121303
Name: longitude, dtype: object

In [48]:
df["latitude"] = pd.to_numeric(df["latitude"], errors="coerce")
df["longitude"] = pd.to_numeric(df["longitude"], errors="coerce")    # Transforma o tipo para float e substitui os dados vazios por NaN

In [49]:
print(df[["latitude", "longitude"]].dtypes)
print(df[["latitude", "longitude"]].head())

latitude     float64
longitude    float64
dtype: object
    latitude  longitude
0 -23.485868 -46.540753
1  -7.812288 -39.083333
2 -23.182565 -50.637228
3 -25.365177 -49.042230
4 -16.468013 -43.431213

In [50]:
df.dtypes

id                                 int64
data_inversa              datetime64[ns]
dia_semana                        object
horario                           object
uf                                object
br                                 int64
km                               float64
municipio                         object
causa_acidente                    object
tipo_acidente                     object
classificacao_acidente            object
fase_dia                          object
sentido_via                       object
condicao_metereologica            object
tipo_pista                        object
tracado_via                       object
uso_solo                            bool
pessoas                            int64
mortos                             int64
feridos_leves                      int64
feridos_graves                     int64
ilesos                             int64
ignorados                          int64
feridos                            int64
veiculos                           int64
latitude                         float64
longitude                        float64
regional                          object
delegacia                         object
uop                               object
dtype: object

In [51]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip()             #Faz um loop para remover os espaços e caracteres invisiveis das colunas do tipo object

In [52]:
print(df.isnull().sum())        # Confere se existem valores nulos em alguma coluna

id                        0
data_inversa              0
dia_semana                0
horario                   0
uf                        0
br                        0
km                        0
municipio                 0
causa_acidente            0
tipo_acidente             0
classificacao_acidente    0
fase_dia                  0
sentido_via               0
condicao_metereologica    0
tipo_pista                0
tracado_via               0
uso_solo                  0
pessoas                   0
mortos                    0
feridos_leves             0
feridos_graves            0
ilesos                    0
ignorados                 0
feridos                   0
veiculos                  0
latitude                  0
longitude                 0
regional                  0
delegacia                 0
uop                       0
dtype: int64

In [53]:
df.drop_duplicates(inplace=True)   #Remove os valores duplicados

In [54]:
if df['id'].duplicated().any():
    print('ATENÇÃO: IDs duplicados encontrados!')
else:
    print('ATENÇÃO: IDs duplicados não encontrados!')       # Conferindo se existem registros de ids duplicados

ATENÇÃO: IDs duplicados não encontrados!

In [55]:
with engine.connect() as conn:
    with conn.begin():             #Cria a conexão de forma segura, garantindo que não vamos perder algo por conta de qualquer erro
        conn.execute(text("""
            DELETE FROM raw.datatran2025
            WHERE EXTRACT(YEAR FROM data_inversa) = 2025
"""))      #Deleta os dados antigos apenas dos anos de 2025

In [56]:
df.to_sql(
    'datatran2025',    # Nome da tabela SEM o schema
    schema='raw',                     # Schema do banco
    con=engine,                       # Conexão
    if_exists='append',               # Adiciona os dados (não sobrescreve)
    index=False                       # Não carrega o índice do DataFrame como coluna
)

598