In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from sqlalchemy import text

In [2]:
url = "C:\\Users\\lucas\\Downloads\\datatran2022\\datatran2022.csv"

df = pd.read_csv(url, sep=';', encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64606 entries, 0 to 64605
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      64606 non-null  int64
 1   data_inversa            64606 non-null  object
 2   dia_semana              64606 non-null  object
 3   horario                 64606 non-null  object
 4   uf                      64606 non-null  object
 5   br                      64606 non-null  int64
 6   km                      64606 non-null  object
 7   municipio               64606 non-null  object
 8   causa_acidente          64606 non-null  object
 9   tipo_acidente           64606 non-null  object
 10  classificacao_acidente  64605 non-null  object
 11  fase_dia                64606 non-null  object
 12  sentido_via             64606 non-null  object
 13  condicao_metereologica  64606 non-null  object
 14  tipo_pista              64606 non-null  object
 15  tracado_via             64606 non-null  object
 16  uso_solo                64606 non-null  object
 17  pessoas                 64606 non-null  int64
 18  mortos                  64606 non-null  int64
 19  feridos_leves           64606 non-null  int64
 20  feridos_graves          64606 non-null  int64
 21  ilesos                  64606 non-null  int64
 22  ignorados               64606 non-null  int64
 23  feridos                 64606 non-null  int64
 24  veiculos                64606 non-null  int64
 25  latitude                64606 non-null  object
 26  longitude               64606 non-null  object
 27  regional                64601 non-null  object
 28  delegacia               64587 non-null  object
 29  uop                     64556 non-null  object
dtypes: int64(10), object(20)
memory usage: 14.8+ MB

In [4]:
df['data_inversa'] = pd.to_datetime(df['data_inversa'], format='%Y-%m-%d')

In [5]:
df[['data_inversa']].dtypes

data_inversa    datetime64[ns]
dtype: object

In [6]:
df['km'] = df['km'].str.replace('.', '', regex=False)
df['km'] = df['km'].str.replace(',', '.', regex=False)
df['km'] = df['km'].astype(float)

In [7]:
df[['km']].dtypes

km    float64
dtype: object

In [8]:
df['uso_solo'] = df['uso_solo'].str.strip().str.lower().map({
    'Sim' : True,
    'Não' : False
}).astype('bool')

In [9]:
df['latitude'] = df['latitude'].replace(',', '.', regex=False)
df['longitude'] = df['longitude'].replace(',', '.', regex=False)

df['latitude'] = pd.to_numeric(df['latitude'], errors='coerce')
df['longitude'] = pd.to_numeric(df['longitude'], errors='coerce')

In [10]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].astype(str).str.strip()

In [11]:
print(df.isnull().sum())

id                            0
data_inversa                  0
dia_semana                    0
horario                       0
uf                            0
br                            0
km                            0
municipio                     0
causa_acidente                0
tipo_acidente                 0
classificacao_acidente        0
fase_dia                      0
sentido_via                   0
condicao_metereologica        0
tipo_pista                    0
tracado_via                   0
uso_solo                      0
pessoas                       0
mortos                        0
feridos_leves                 0
feridos_graves                0
ilesos                        0
ignorados                     0
feridos                       0
veiculos                      0
latitude                  64580
longitude                 64578
regional                      0
delegacia                     0
uop                           0
dtype: int64

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
if df['id'].duplicated().any():
    print('ATENÇÃO: IDs duplicados encontrados!')
else:
    print('ATENÇÃO: IDs duplicados não encontrados')

ATENÇÃO: IDs duplicados não encontrados

In [14]:
# -------------------------------------------------------------
# CONFIGURAÇÃO DA CONEXÃO COM O POSTGRESQL
# -------------------------------------------------------------
# Formato da string de conexão: 
# postgresql://usuario:senha@endereco:porta/nome_do_banco
# Substitua pelos dados do seu ambiente:
usuario = "postgres"
senha = "postgres"
host = "localhost"
porta = "5432"
banco = "dbs_ontl"

# Cria o motor de conexão
engine = create_engine(f'postgresql://{usuario}:{senha}@{host}:{porta}/{banco}')

In [15]:
with engine.connect() as conn:
    with conn.begin():             #Cria a conexão de forma segura, garantindo que não vamos perder algo por conta de qualquer erro
        conn.execute(text("""
            DELETE FROM raw.datatran2025
            WHERE EXTRACT(YEAR FROM data_inversa) = 2022
"""))      #Deleta os dados antigos apenas dos anos de 2025

In [16]:
df.to_sql(
    'datatran2025',    # Nome da tabela SEM o schema
    schema='raw',                     # Schema do banco
    con=engine,                       # Conexão
    if_exists='append',               # Adiciona os dados (não sobrescreve)
    index=False                       # Não carrega o índice do DataFrame como coluna
)

606